In [6]:
import pandas as pd 
import numpy as np 
import panel as pn 
pn.extension('tabulator') 

import hvplot.pandas

In [7]:
# United States health insurance data is used to construct the DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/matthewstreets/datasets/main/insurance.csv')

df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [8]:
# Calling the interactive method makes the DataFrame interactive
idf = df.interactive()

In [9]:
# This block defines Panel widgets 
bmi_slider = pn.widgets.FloatSlider(name = 'BMI slider', start = df['bmi'].min(), end = df['bmi'].max(), step = 0.01, value = 16.00)
bmi_slider

BokehModel(combine_events=True, render_bundle={'docs_json': {'e40f16f6-22aa-475e-92b4-73aeb7bf63df': {'defs': …